{{ form_start(form) }}

<!-- form_rest() pour afficher le reste du formulaire -->
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}